@use '../../assets/styles/Colors.scss';

.input {
  box-sizing: border-box;
  height: 42px;
  padding: 4px 12px;
  font-size: 1rem;
  border: 1px solid Colors.$border;
  border-radius: 6px;
  outline: none;

  &:focus {
    background-color: Colors.$lightGreen;
    border: 1px solid Colors.$green;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: Colors.$disabled;
  }
}

.long {
  width: 32rem;
}

.noFrame {
  cursor: pointer;
  background-color: inherit;
  border: none;

  &:focus {
    cursor: unset;
    background-color: Colors.$white;
  }
}

.error {
  border: 1px solid Colors.$error !important;
}
