@use '../../assets/styles/Colors.scss';

.button {
  display: inline-block;
  cursor: pointer;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: Colors.$white;
  text-decoration: none;
  user-select: none;
  background: Colors.$darkGreen;
  border: 1px Colors.$darkGreen solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;

  &:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  }
}
