.listGroup {
  margin-top: 36px;
}

.listHeader {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.listTitle {
  margin-right: 1rem;
}

.copiedMessage {
  font-size: 0.8rem;
}

.listTracker {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 26px;
  }

  > *:not(:last-child) {
    margin-right: 1rem;
  }

  &Name {
    width: 16rem;
    word-break: break-all;
  }

  &Time {
    width: 2rem;
  }
}
