@use '../../assets/styles/Colors.scss';

.listGroup {
  margin-top: 36px;
}

.listHeader {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.listTitle {
  margin-right: 1rem;
}

.copiedMessage {
  font-size: 0.8rem;
}

.listTracker {
  display: flex;
  flex-direction: column;
  height: 4rem;

  &:not(:last-child) {
    margin-bottom: 26px;
  }

  &Content {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 1rem;
    }

    &Time {
      width: 2rem;
    }
  }
}

.error {
  margin-top: 0.4rem;
  color: Colors.$error;
}
