.listGroup {
  margin-top: 36px;;

}

.list {
  &:not(:last-child) {
    margin-bottom: 26px;
  }
}

.listTracker {
  display: flex;
  align-items: center;
  > *:not(:last-child) {
    margin-right: 18px;
  }
}

.listTimer {
  > ul {
    list-style: none;
  }
}

.timerStart {
  &::after {
    content: '~';
    margin-left: 2px;
  }
}
