.header {
  width: 90%;
  margin-bottom: 16px;
}

.listTimer {
  > ul {
    list-style: none;
  }
}

.list {
  margin-bottom: 8px;
}

.timerStart {
  &::after {
    margin-left: 2px;
    content: '~';
  }
}
