.header {
  width: 90%;
  margin-bottom: 16px;
}

.listTimer {
  > ul {
    list-style: none;
  }
}

.list {
  margin-bottom: 8px;

  > img {
    margin-left: 8px;
  }
}

.timerStart {
  &::after {
    margin-left: 2px;
    content: '~';
  }
}

.editTime {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.editTimeButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
