$white: #fff;

$lightGreen: #9ae6b4;
$green: #48bb78;
$darkGreen: #2f855a;

$lightRed: #feb2b2;
$red: #f56565;
$darkRed: #c53030;

$lightGrey: #e2e8f0;
$grey: #a0aec0;
$darkGrey: #4a5568;

$primary: $green;
$border: $grey;
$disabled: $lightGrey;
$error: $red;
